<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>jQuery UI Autocomplete - Default functionality</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>
  <script>
      function httpGet(theUrl) {
        var xmlHttp = new XMLHttpRequest();
        xmlHttp.open("GET", theUrl, false); // false for synchronous request
        xmlHttp.send(null);
        return xmlHttp.responseText;
      }
  $( function() {
    var availableTags = [];
    res = JSON.parse(httpGet(`http://127.0.0.1:8000/api`));
    var count = Object.keys(res).length;
    for(let i=0;i<count;i++){
        availableTags.push(res[i])
}
    $( "#tags" ).autocomplete({
      source: availableTags
    });
  } );
  </script>
</head>
<body>
        <label for="tags">Tags: </label>
        <input id="tags">
      </div>
        <button type="submit" onclick="check()" name="Submit"><b>Submit</b>  </button>
        <div id="resul"></div>
<div class="ui-widget">
 <script>

function check() {
        const url = "/get-recommendation/";
        const data = {"title" : document.getElementById('tags').value};
        let x = document.getElementById("tags").value
        x = x.replace(" ","_")
        console.log(httpGet(url+x));
        document.getElementById("resul").innerHTML = `<h1>
    }
 </script>
</body>
</html>